@layer base {
    html {
        @apply scroll-smooth text-[18px] lg:text-[20px] xl:text-[24px];
    }

    body {
        @apply relative z-0 min-h-dvh antialiased bg-background text-foreground font-light before:absolute before:-z-10 before:inset-0;
    }

    body::before {
        --pattern-color: var(--color-zinc-700);
        --pattern-opacity: 0.1;

        opacity: var(--pattern-opacity);
        background-attachment: fixed;
        background-image:
            linear-gradient(var(--pattern-color) 2px, transparent 2px),
            linear-gradient(90deg, var(--pattern-color) 2px, transparent 2px),
            linear-gradient(var(--pattern-color) 1px, transparent 1px),
            linear-gradient(90deg, var(--pattern-color) 1px, transparent 1px)
        ;
        background-size:
            50px 50px,
            50px 50px,
            10px 10px,
            10px 10px
        ;
        background-position:
            -2px -2px,
            -2px -2px,
            -1px -1px,
            -1px -1px
        ;
    }

    a:not(.no-hover),
    .as-link:not(.no-hover) {
        @apply border-b border-dotted border-current inline-flex items-center gap-1 leading-none;
    }

    a:not(.no-hover):any-link,
    .as-link:not(.no-hover) {
        @apply cursor-pointer;
    }

    a:not(.no-hover):hover,
    .as-link:not(.no-hover):hover {
        @apply text-primary border-primary;
    }
}