@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url('../fonts/Bellefair/Bellefair-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url('../fonts/Exo-2/Exo2-VariableFont_wght.ttf') format('woff2');
}