@font-face {
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url('../fonts/josefin-slab/JosefinSlab-VariableFont_wght.ttf') format('woff2');
}

@font-face {
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 100 700;
    font-display: swap;
    src: url('../fonts/josefin-slab/JosefinSlab-Italic-VariableFont_wght.ttf') format('woff2');
}